.headerOption {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 30px;
  cursor: pointer;
  color: gray;
}

.headerOption:hover {
  color: black;
}

.headerOption-icon {
  height: 25px !important;
  width: 25px !important;
}
.headerOption-title {
  font-size: 12px;
  font-weight: 400;
  display: flex;
  align-items: center;
  height: 20px;
}

.logout {
  margin-top: 5px;
  border-radius: 10px;
  display: grid;
  place-content: center;
  background-color: white;
  border: whitesmoke 1px solid;
  padding: 10px 1rem;
  width: 50px;
}
